.login {

   &__container {
      display: flex;
      justify-content: flex-end;
      height: 100vh;
   }

   &__box {
      display: flex;
      flex-direction: column;

      margin: 2rem 1rem 1rem 1rem;  
      width: 20rem;
      height: 80vh;
      border-radius: 3px;
      border: 1px solid $color-primary-dark;

      & h1 {
         text-align: center;
         margin-top: 2rem;
         color: $color-primary-dark;
      }
   }

   &__btn {
      margin-top: 1.5rem;
      width: 80%;
      align-self: center;
   }
}



