.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: .5rem .75rem;

   background-color:$color-primary-dark;
   color: $color-white;

   &__logo {
      font-size: 2rem;
      font-family: $font-heading;
   }
}

.user-nav {
   display: flex;
   justify-content: space-between;

   &__list{
      font-size: 1.2rem;
   }

   &__item {
      height: 100%;
      display: inline-block;
      padding: 5px 7.5px;

      &:not(:last-child){
         margin-right: 4px;
      }

      &:hover {
         background-image: linear-gradient(
            to top,
            $color-primary,
            rgba($color-primary-dark, 0)
         );
      }
   }
}