//FONTS
$font-heading: 'Chelsea Market', cursive;
$font-primary: 'Nunito', sans-serif;

//COLORS
$color-primary-light: #e1f7bc ;
$color-primary: #a4df40 ;
$color-primary-dark: #68a009 ;

$color-secondary-dark: #f6bb09 ;
$color-secondary-light: #f2f609 ;

$color-accent-dark:#FF2700;
$color-accent-light:rgb(255, 94, 0);

$color-white: #f5f3ee;
$color-black: #0e0e0d;


