//FONTS
$font-heading: 'Chelsea Market', cursive;
$font-primary: 'Nunito', sans-serif;

//COLORS
$color-primary-light: #45FF93 ;
$color-primary: #00C955 ;
$color-primary-dark: #009253 ;

$color-secondary-light: #92f1e2 ;
$color-secondary: #1eb89e ;
$color-secondary-dark: #004943 ;

$color-white: #f5f3ee;  
$color-black: #221f1f;

$color-gray-3: #343D46;
$color-gray-2: #65737E;
$color-gray-1: #A7ADBA;





