.header {
   height: 100vh;
   color: $color-white;
   text-shadow: 0 4px .5rem $color-black; 
   background-image: 
        linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.3),
            rgba($color-primary-dark,.6)),
        url(../img/header.jpg);
    background-size: cover;
    background-position: top;

    display:flex;
    justify-content: flex-end;
    align-items: center;
}

