.header {
   height: 100vh;
   position: relative;
   color: $color-white;
   background-image: 
        linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.3),
            rgba($color-black,.1)),
        url(../img/header.jpg);
    background-size: cover;
    background-position: top;

    &__btn {
        position: absolute;

        left: 10vw;
        bottom: 15vh;

        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;

        border: 1px solid $color-white;

    }

    &__text-box {
        display: flex;
        justify-content: flex-end;
    }
}

.heading-text {
    width: 50vw;
    height: 100vh;
    background-image: 
        linear-gradient(
            to right,
            rgba($color-black, 0),
            rgba($color-black,.4));

    vertical-align: middle;
    text-align: end;
    text-shadow: 0 4px .5rem rgba($color-black, .4); 

    font-size: 3rem;
    font-weight: 300;
    
    padding: 2rem 2rem 0 0;


    &--main {
        background-image:linear-gradient(
            to right,
            rgba($color-primary-dark, .3),
            rgba($color-primary,.7));

        color: $color-white;
        
        font-size: 6.5rem;
        text-transform: uppercase;
        letter-spacing: .8rem;
        font-weight: 300;
    }

    &--sub {
        background-image:linear-gradient(
            to right,
            rgba($color-primary-dark, .3),
            rgba($color-primary,.7));

        text-transform: uppercase;
        letter-spacing: .5rem;
        color: $color-white;
        font-size: 3.5rem;  
        font-weight: 400;
        display: block;
    }
}
