.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: .75rem 1.5rem;

   @include linear-gradient-primary;
   color: $color-white;

   &__logo {
      font-size: 2rem;
      font-family: $font-heading;
   }

   &__search-box {
      flex: 0 1 5rem;
      padding: .4rem .8rem;
      border: 1px solid $color-primary-light;
      border-radius: 3rem;
      background-color: #f2f2f2;
      transition: all .2s;

      &:focus{
         transform: scale(1.05);
         background-color: #fff;
      }
   }
}



.user-nav {
   display: flex;
   justify-content: space-between;

   &__list{
      font-size: 1rem;
   }

   &__item {
      height: 100%;
      display: inline-block;
      padding: 5px 7.5px;

      &:not(:last-child){
         margin-right: 4px;
      }

      &:hover {
         background-image: linear-gradient(
            to top,
            rgba($color-primary-light, .4),
            rgba($color-primary-dark, 0)
         );
         color: $color-white;
         text-shadow: 1px 1px 2px $color-primary-dark, 0 0 1em $color-primary-dark, 0 0 0.2em $color-primary-dark;
      }
   }
}