.footer{
   padding: 1rem 2rem;
   @include linear-gradient-primary;
   color: $color-white;

   &__logo {
      height: 100%;
      font-size: 4rem;
   }

   &__copywrite {
      font-size: .7rem;
   }

   &__navigation {
      display: flex;
      align-items: flex-end;
   }

   &__list {
      display: flex;
      margin-top: auto;
   }

   &__item {
      margin: .5rem 1.25rem;
      transition: all .3s;
      padding: .5rem 1rem;
      border-radius: 3px;

      &:hover {
         transform: translateY(-2px) scale(1.05);
      }
   }
}