.input-group {
   margin-top: 1rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   
   & > * {
      display: block;
      width: 80%;
      margin: 0 1rem;
   }  
}


form {
   & > input {

      &[type="text"] {
         display: block;
         border: 1px solid $color-primary; 
         padding: .25rem .75rem;  
      }
   }
}
