//FONTS
$font-heading: 'Chelsea Market', cursive;
$font-primary: 'Nunito', sans-serif;

//COLORS
$color-primary-dark: #f6bb09 ;
$color-primary: #f6cf44 ;
$color-primary-light: #f7e199 ;

$color-secondary-dark:#76ad29;
$color-secondary:#9bd949;
$color-secondary-light:#cef497;

$color-accent-dark:#a71818;
$color-accent:#E32929;
$color-accent-dark:#ee8a8a;

